/*--------------------
 * common
 *--------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', 'Noto Sans CS', sans-serif;
  color: #4e4e4e;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #f4f4f4;
  letter-spacing: 0.05em;
}

header {
  padding-top: 8rem;
  text-align: center;
  font-size: 2.4rem;
}

main {
  margin-top: 2rem;
}

.menu-btn {
  display: block;
  position: fixed;
  z-index: 100;
  top: 2rem;
  right: 2rem;
  -webkit-appearance: none;
  appearance: none;
  margin: auto;
  border-radius: 2px;
  padding: 8px;
  background-color: #4e4e4e;
  color: #f4f4f4;
  font-size: 1.6rem;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.gnav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
  pointer-events: none;
  padding-top: 16rem;
  background-color: #4e4e4e;
  color: #f4f4f4;
  text-align: center;
  transition: opacity ease-out 0.2s;
}

.is-active-nav .gnav {
  opacity: 1;
  pointer-events: auto;
  transition-duration: 0.4s;
}

.gnav__item {
  margin-top: 2rem;
  opacity: 0;
  transform: translateX(-20%);
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.gnav__item > a {
  color: #f4f4f4;
  text-transform: capitalize;
}

.is-active-nav .gnav__item {
  opacity: 1;
  transform: translateX(0);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, -0.5, 0, 1.8);
}

.is-active-nav .gnav__item:nth-child(1) {
  transition-delay: calc(0.07s * 1);
}

.is-active-nav .gnav__item:nth-child(2) {
  transition-delay: calc(0.07s * 2);
}

.is-active-nav .gnav__item:nth-child(3) {
  transition-delay: calc(0.07s * 3);
}

.is-active-nav .gnav__item:nth-child(4) {
  transition-delay: calc(0.07s * 4);
}

.is-active-nav .gnav__item:nth-child(5) {
  transition-delay: calc(0.07s * 5);
}

/*--------------------
 * pc
 *--------------------*/
@media screen and (min-width: 641px) {
  .gnav {
    display: none;
  }
}
