$font-color: #4f4f4f;
$key-color: #ffa41b;
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0 auto;
  padding: 4rem;
  color: $font-color;
  max-width: 50rem;
}
header {
  font-size: 2rem;
}

h1 a {
  color: $font-color;
  text-decoration: none;

  &:hover {
    color: $key-color;
  }
}

section {
  border-bottom: 1px solid $font-color;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
}
ul {
  margin-top: 2rem;
}
li {
  position: relative;
  font-size: 0.8rem;
  padding-left: 0.8rem;
  margin-top: 1.6rem;;
  &::before {
    position: absolute;
    display: block;
    left: 0;
    content: "-";
  }
}
p {
  margin-top: 0.4rem;
  color: #4e4e4e;
}
a {
  color: $key-color;
  border-bottom: 1px solid $key-color;
}
footer {
  margin-top: 4rem;
  border-top: 1px solid $font-color;
  font-size: 0.4rem;
}