body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0 auto;
  padding: 4rem;
  color: #4f4f4f;
  max-width: 50rem;
}

header {
  font-size: 2rem;
}

h1 a {
  color: #4f4f4f;
  text-decoration: none;
}

h1 a:hover {
  color: #ffa41b;
}

section {
  border-bottom: 1px solid #4f4f4f;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
}

ul {
  margin-top: 2rem;
}

li {
  position: relative;
  font-size: 0.8rem;
  padding-left: 0.8rem;
  margin-top: 1.6rem;
}

li::before {
  position: absolute;
  display: block;
  left: 0;
  content: "-";
}

p {
  margin-top: 0.4rem;
  color: #4e4e4e;
}

a {
  color: #ffa41b;
  border-bottom: 1px solid #ffa41b;
}

footer {
  margin-top: 4rem;
  border-top: 1px solid #4f4f4f;
  font-size: 0.4rem;
}
